/* Style form inputs */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  transform: rotateX('90');
}